<% flash.each do |type, msg| %>
  <div class = "flash_error">
    <%= msg %>
  </div>
<% end %>
<h1>Please log in below</h1>

<%= form_for @player, url: {controller: 'sessions', action: 'create'}, method: 'post' do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <br>
  <%= f.submit "Log In" %>
  <br><br>
  <%= link_to(controller: 'players', action: 'new') { 'Sign Up' } %> | <%= link_to 'Log in with Github', "/auth/github"%>
<% end %>