<h1><%= @game.title %></h1>

<h2>Release Date: <%= @game.release_date %></h2>
<h2>Genre: <%= @game.genre %></h2>

<h2>Tournaments: </h2>
<ul>
<% @game.tournaments.each do |tournament| %>
<li><h3><%= link_to tournament.name, tournament_path(tournament) %></h3>
<h3>Start Date: <%= tournament.start_date %></h3>
<h3>Prize Pool: <%= tournament.prize_pool %></h3></li>

<% if !tournament.players.include?(@player) %>
<%= link_to 'Join', game_path(@game, :join => true, :tournament => tournament) %>
<br>
<% else %>
<%= link_to 'Leave Tournament', game_path(@game, :leave => true, :tournament => tournament) %>
<br>
<% end %>

<% end %>
</ul>

<% if @game.tournaments.length == 0 %>
<h4>No tournaments to show</h4>
<% end %>

<%= link_to 'Edit', edit_game_path %>
<br><br>
<%= link_to 'Add Tournament', new_tournament_path(:game_id => @game.id)%>
<br><br>
<%= link_to "All #{@game.title} Tournaments", game_tournaments_path(@game)%> | <%= link_to 'All Tournaments', tournaments_path %> | <%= link_to 'All Games', games_path %>
<br><br>
<%= link_to 'Profile', player_path(@player)%> | <%= link_to 'Log out', logout_path %>
