<% if player.errors.any? %>
  <div id = "error_explanation">
    <h2><%= pluralize(player.errors.count, "error") %></h2>
    <ul>
      <% player.errors.full_messages.each do |message| %>
      <li>Error: <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(player) do |f| %>

  <% if player.errors[:name].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>

  <% if player.errors[:username].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  </div>

  <% if player.errors[:email].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>

  <% if player.errors[:password].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>

  <% if player.errors[:password_confirmation].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit %>
<% end %>