<h1>Welcome, <%= @player.username %>!</h1>
<h2>Profile information</h2>
<h2>Name: <%= @player.name %></h2>
<h2>Email: <%= @player.email %></h2>
<h2>Username: <%= @player.username %></h2>
<h2>Password: <%= @player.password %></h2>
<h2>Active Tournaments</h2>
<ul>
<% @player.tournaments.each do |tournament| %>
<li><h3>Name: <%= tournament.name %></h3>
<h3>Game: <%= display_game(tournament) %></h3>
<h3>Start Date: <%= tournament.start_date %></h3>
<h3>Prize Pool: <%= tournament.prize_pool %></h3></li>

<h2>Active Matches</h2>

<% @player.matches.each do |match| %>
<li><h3>Date: <%= match.date %></h3>
<h3>Game: <%= match.game.title %></h3>
<h3>Tournament Round: <%= match.round_of_tournament %></h3></li>

<h2>Most Played Game: <%= @most_played_game %></h2>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
